<!-- display quote-form -->


<div>
  {{quote}}
</div>

<div>
  {{author}}
</div>

<div>
  {{contributor}}
</div>


<!-- like votes counter -->

<div class="value">
    {{voteCounter}}
  </div>
  
  <div class="label">
    <p></p>
  </div>

<!-- like vote -->

<div>
  <ul>
    <li class="item">
      <a href (click)="voteLike()">
        <img src="../assets/social-media-icons/png/006-feedback.png" alt="like-icon" width="100" height="100">
      </a>
    </li>
  </ul>
</div>

<!-- dislike vote -->

<div>
  <ul>
    <li class="item">
      <a href (click)="voteDislike()">
          <a href (click)="voteLike()">
              <img src="../assets/social-media-icons/png/014-like.png" alt="like-icon" width="100" height="100">
            </a>
      </a>
    </li>
  </ul>
</div>





<!-- icon for the best quote -->

<!-- ../assets/social-media-icons/png/006-feedback.png -->



<!-- days since quote was posted -->
<div>
  
</div>

