

<div class="container-fluid">
  <div class="jumbotron">
      <h3>
          Publish your Quote
      </h3>

  </div>
    

<form action="">
  <!-- quote field -->
  <label for="quote"> Quote: </label>
    <br>
  <textarea class="form-control" id="quote" #newQuote rows="4" placeholder="create quote here" required> </textarea>

  <!-- author field -->
  <div class="form-group">
    <label for="author"> Author: </label>
    <br>
    <input type="text"  id="author" #newAuthor placeholder="" required>
  </div>

  <!-- contributor field -->
  <div class="form-group">
    <label for="contributor"> Contributor: </label>
    <br>
    <input type="text"  id="contributor" #newContributor placeholder="" required>
  </div>

  <!-- submit button -->
  <button (click)="addQuote(newQuote, newAuthor, newContributor)">submit</button>
</form>

</div>






